/* HumanLayer Custom SVG Icons - Futuristic Style */

/* Icon wrapper class */
.hl-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.hl-icon svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
}

/* Size variants */
.hl-icon.hl-sm {
    width: 1rem;
    height: 1rem;
}

.hl-icon.hl-md {
    width: 1.5rem;
    height: 1.5rem;
}

.hl-icon.hl-lg {
    width: 2rem;
    height: 2rem;
}

.hl-icon.hl-xl {
    width: 2.5rem;
    height: 2.5rem;
}

.hl-icon.hl-2xl {
    width: 3rem;
    height: 3rem;
}

/* Glow effect for icons */
.hl-icon-glow {
    filter: drop-shadow(0 0 8px currentColor);
}